<section class="proyectos">
    <a name="tres"></a>
        <h3>Capacidades</h3>
        <br>
        <br>
        <table>
            <tr>
                <td>
                    <div class="card" style="max-width: 18rem;">
                        <img src="assets/img/3D.jpg" class="card-img-top" alt="...">
                        <div class="card-body ">
                            <p class="card-text ">
                                <h4>Impresora 3D de papel reciclable.</h4>
                                <hr>
                                <ul>
                                    <li>Medio ambiente.</li>
                                    <li>Utiliza papel reciclable.</li>
                                    <li>Alta precisión.</li>
                                    <li>Produce piezas con alta calidad y precisión limitado por tamaño de bandeja.</li>
                                    <li>Software amigable</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card" style="max-width: 18rem; ">
                        <img src="assets/img/numerico.jpg" class="card-img-top" alt="...">
                        <div class="card-body ">
                            <p class="card-text ">
                                <h4>Maquina de control numérico</h4>
                                <hr>
                                <ul>
                                    <li>Equipos de alta tecnología para corte de diversos materiales.</li>
                                    <li>Equipos con sistemas automáticos, con control de programación.</li>
                                    <li>Cortes de alta precisión</li>
                                    <li>Excelentes acabados</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card" style="max-width: 18rem; ">
                        <img src="assets/img/impresos.jpg" class="card-img-top" alt="...">
                        <div class="card-body ">
                            <p class="card-text ">
                                <h4>Maquina de circuitos impresos</h4>
                                <hr>
                                <ul>
                                    <li>Equipos de alta para producción de tarjetas electrónicas y prototipado.</li>
                                    <li>compatibles con el software ISOPRO 9.0 (ultima actualización).</li>
                                    <li>herramientas de alta precisión y sistema automático intercambiable de piezas para trabajo continuo para producción industrial de tarjetas electrónicas de alta calidad.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </section>