  <div class="Clients_bg_white">
    <div class="container">
                     <div class="title">
                        <h3>Integrantes CETIA</h3>
                        <br>
                        <br>
                        <br>
                     </div>      
      <div id="client_slider" class="carousel slide banner_Client" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#client_slider" data-slide-to="0" class="active"></li>
          <li data-target="#client_slider" data-slide-to="1"></li>
          <li data-target="#client_slider" data-slide-to="2"></li>
          <li data-target="#client_slider" data-slide-to="3"></li>
          <li data-target="#client_slider" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="carousel-caption text-bg">
                <div class="img_bg">
                  <i><img src="assets/img/Richard.png"/><span>RICHARD HUMBERTO CACERES LEON<br><strong>TENIENTE CORONEL</strong></span></i>
                </div>
                <br>
                <br>
                <br>
                <p>
                    <ul>
                        <li>JEFE CENTRO DE INVESTIGACION CETIA</li>
                        <li>OFICIAL ESPECIALIDAD TELECOMUNICACIONES AERONAUTICAS</li>
                        <li>DOCTOR EN FISICA Y METEOROLOGIA DE LA UNIVERSIDAD DE BARCELONA</li>
                        <li>TIEMPO DE SERVICIO: 20 AÑOS</li>
                    </ul>
                    </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-bg">
                <div class="img_bg">
                  <i><img src="assets/img/German.png"/><span>GERMAN WEDGE RODRIGUEZ PIRATEQUE<br><strong>MAYOR</strong></span></i>       
                </div>
                  <br>
                  <br>
                  <br>
                    <p>
                    <ul>
                        <li>ESPECIALISTA EN INVESTIGACION</li>
                        <li>OFICIAL ESPECIALIDAD CIENCIAS DE LA EDUCACION E INVESTIGACION</li>
                        <li>ESTUDIANTE DOCTORADO INGENIERIA UNIVERSIDAD NACIONAL</li>
                        <li>INGENIERO ELECTRONICO UNIVERSIDAD LIBERTADORES</li>
                        <li>TIEMPO DE SERVICIO: 15 AÑOS</li>
                    </ul>
                    </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-bg">
                <div class="img_bg">
                  <i><img src="assets/img/Diego.png"/><span>DIEGO ERNESTO CORTES GUAJE<br><strong>CAPITAN</strong></span></i>       
                </div>
                  <br>
                  <br>
                  <br>
                    <p>
                    <ul>
                        <li>ESPECIALISTA EN INVESTIGACION</li>
                        <li>OFICIAL ESPECIALIDAD PILOTO</li>
                        <li>ESTUDIANTE MAESTRIA EN INGENIERIA UNIVERSIDAD NACIONAL</li>
                        <li>INGENIERO MECANICO DE LA ESCUELA MILITAR DE AVIACION</li>
                        <li>TIEMPO DE SERVICIO: 10 AÑOS</li>
                    </ul>
                    </p>   
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-bg">
                <div class="img_bg">
                  <i><img src="assets/img/Alvaro.png"/><span>ALVARO ANDRES MORA NIETO<br><strong>SUBTENIENTE</strong></span></i>       
                </div>
                  <br>
                  <br>
                  <br>
                    <p>
                    <ul>
                        <li>ESPECIALISTA EN DESARROLLO TECNOLOGICO</li>
                        <li>OFICIAL ESPECIALIDAD CIENCIAS DE LA EDUCACION E INVESTIGACION</li>
                        <li>INGENIERO AERONAUTICO DE LA UNIVERSIDAD LOS LIBERTADORES</li>
                        <li>TIEMPO DE SERVICIO: 14 AÑOS</li>
                    </ul>
                    </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-bg">
                <div class="img_bg">
                  <i><img src="assets/img/Edwin.png"/><span>EDWIN ALEXANDER CASALLAS MORENO<br><strong>TECNICO SEGUNDO</strong></span></i>       
                </div>
                  <br>
                  <br>
                  <br>
                    <p>
                    <ul>
                        <li>TECNICO ASESOR EN INVESTIGACION</li>
                        <li>SUBOFICIAL ESPECIALIDAD MANTENIMIENTO AERONAUTICO</li>
                        <li>INGENIERO INDUSTRIAL DE LA UNIVERSIDAD LOS LIBERTADORES</li>
                        <li>TIEMPO DE SERVICIO: 14 AÑOS</li>
                    </ul>
                    </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>