<section class="investigacion">
    <a name="cinco"></a>    
        <div class="contenedor">
        <h3>Lineas de investigación</h3>
            <div class="contenedor-porque">      
                <div class="porque-singular">
                    <h4>Autosostenimiento</h4>
                    <p><b>Función:</b>
                    <br>
                    sostener la fuerza
                    <br>
                    <b>Subprograma:</b>
                    <br>
                    autosuficiencia institucional:
                    <br>
                    <b>Línea de investigación:</b>
                    <br>
                    Diseño, desarrollo y certificación de productos aeronáuticos tipo I, II y III. 
                    <br>
                Línea de investigación tendiente a la promoción, diseño y desarrollo de productos de investigación a través del SCTel, para ofrecer una solución a las necesidades institucionales en áreas logísticas y de mantenimiento aeronáutico, que involucre equipos aeronáuticos como entidad AAAES. </p>
                </div>                   
                <div class="porque-singular">
                    <h4>Tecnológica</h4>
                    <p><b>Función:</b>
                    <br>
                    modernizar la fuerza.
                    <br>
                    <b>Subprograma:</b>
                    <br>
                    sistemas de defensa del espacio aéreo 
                    <br>
                    <b>Línea de investigación:</b>
                    <br>
                    ART de vigilancia y combate
                    <br>
                Línea de investigación tendiente a la promoción de diseñar y desarrollar productos de investigación a través del SCTel con el fin de buscar ofrecer una solución a las necesidades institucionales en el área de la operación aérea y seguridad, relativa contribuir al desarrollo de equipos remotos “uav” o “drones” para fortalecer el cumplimiento de la misión y la vigilancia.  </p>
                </div>         
                <div class="porque-singular">
                    <h4>Conocimiento</h4>
                    <p><b>Función:</b>
                    <br>
                    sostener la fuerza
                    <br>
                    <b>Subprograma:</b>
                    <br>
                    autosuficiencia institucional:
                    <br>
                    <b>Línea de investigación:</b>
                    <br>
                    Sistemas logísticos e investigación de operaciones  
                    <br>
                Línea de investigación tendiente a la promoción de diseñar y desarrollar productos de investigación a través del SCTel con el fin de buscar ofrecer una solución a las necesidades institucionales en el area de la logística y desarrollo aeronáutico, en apoyo en el desarrollo de equipos que involucre aeronáuticos y al programa emergente antártico  </p>
                </div>	
            </div>
        </div>      
    </section>