<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1A53BF; padding-left: 20px">
    <a class="navbar-brand" href="#">CETIA</a>
    <hr width="1" size="20">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#uno">Conocenos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#dos">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tres">Capacidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#cuatro">Demostraciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#cinco">Lineas de investigacion</a>
            </li>
        </ul>
    </div>
</nav>