<section class="capacidades">
    <a name="dos"></a>
        <h3>Proyectos</h3>
        <br>
        <br>
        <table>
            <tr>
                <td>
                    <div class="card text-white bg-primary mb-3 " style="width: 19rem; height: 25rem">
                        <div class="card-header"> Estado: Finalizado y aplicado</div>
                        <div class="card-body">
                            <h5 class="card-title">Luces A-29</h5>
                            <p class="card-text">Sistema de luces NVG aeronave A-29B con fines estratégicos operacionales.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card bg-light mb-3" style="width: 19rem; height: 25rem">
                        <div class="card-header">Estado: Terminado pendiente pruebas e instalación.</div>
                        <div class="card-body">
                            <h5 class="card-title">Robot cartesiano UVIS</h5>
                            <p class="card-text">Proyecto que busca mejorar la seguridad y control en los puestos de control vehicular de las Unidades Aéreas, utilizado tecnologías de reconocimiento enlazadas a bases de datos PONAL, de vehículos reportado como robados o con
                                antecedentes. Mejorando la respuesta reactiva en sistemas y esquemas de seguridad.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card text-white bg-primary mb-3" style="width: 19rem; height: 25rem">
                        <div class="card-header">Estado: No terminado, pendiente rediseño.</div>
                        <div class="card-body">
                            <h5 class="card-title">Plataforma Aérea</h5>
                            <p class="card-text">Proyecto realizado en conjunto con universidad San Buenaventura, el cual se encuentra en modificación estructural y aerodinámica.</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card  bg-light mb-3" style="width: 19rem; height: 25rem">
                        <div class="card-header">Estado: Informacion desconocida</div>
                        <div class="card-body">
                            <h5 class="card-title">Proyectos aeronaves FAC</h5>
                            <p class="card-text">Estos proyectos realizados junto con el Grupo de Investigación de ESUFA, con la participación de alumnos como opción de grado, generando alta interacción de la academia con Ciencia y Tecnología.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card text-white bg-primary mb-3" style="width: 19rem; height: 25rem">
                        <div class="card-header">Estado: Terminado y aplicado.</div>
                        <div class="card-body">
                            <h5 class="card-title">Partes estructurales SCHWEIZER</h5>
                            <p class="card-text">Proyecto que permitió dar solución a problemas estructurales y misceláneos del AVION SCHWEIZER, evitando costos adicionales en inspecciones y reparaciones de alto costo por entes externos.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card  bg-light mb-3" style="width: 19rem; height: 25rem">
                        <div class="card-header">Estado: Terminado y aplicado.</div>
                        <div class="card-body">
                            <h5 class="card-title">Sistema de Soporte lanzaderas A-29</h5>
                            <p class="card-text">Proyecto que permitió dar solución a problemas estructurales y misceláneos en e sistema de armas de A-29 B, evitando costos adicionales en inspecciones y reparaciones de alto costo por entes externos.</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card text-white bg-primary mb-3" style="width: 19rem; height: 25rem">
                        <div class="card-header">Estado: Terminado y aplicado.</div>
                        <div class="card-body">
                            <h5 class="card-title">Soporte Vigas C-295</h5>
                            <p class="card-text">Proyecto que permitió dar solución a problemas estructurales y soporte en vigas laterales del C-295, evitando costos adicionales en inspecciones y reparaciones de alto costo por entes externos.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card  bg-light mb-3" style="width: 19rem; height: 25rem">
                        <div class="card-header">Estado: Terminado y aplicado.</div>
                        <div class="card-body">
                            <h5 class="card-title">Estudio radiométrico en la Antártida</h5>
                            <p class="card-text">Estudios realizados para la dosificación y edición de radiometría, el cual podrá ser aplicado en sistema de seguridad de radicación activa en operaciones de vuelo.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card text-white bg-primary mb-3" style="width: 19rem; height: 25rem">
                        <div class="card-header">Estado: Terminado y aplicado.</div>
                        <div class="card-body">
                            <h5 class="card-title">Maquina limpiadora de objetos mecánicos</h5>
                            <p class="card-text">Diseño de mecanismos de control de una máquina de limpieza de piezas mecánicas, garantizando un ahorro de insumos y horas hombre.</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </section>
